$color--hover: #808080;

%large-font {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  font-size: 2.35rem;
  letter-spacing: 1rem;
}

%list-style {
  list-style: none;
  padding-left: 2rem;
}

html {
  margin: 0;
  padding: 0;
  font-size: 1vw;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  @extend %large-font;
  // font-size: 2rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%);

  a {
    color: #000;
    text-decoration: none;
  }
}

nav, %nav {
  position: fixed;
  ul {
    @extend %list-style;
    li {
      a {
        @extend %large-font;
        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: 0.1rem;
        &:hover {
          color: $color--hover;
        }
      }
    }
  }
}

footer {
  @extend %large-font;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  ul { @extend %list-style }
}
